<% layout("layouts/boilerplate") %>

<body>
  <div class="card">
    <div class="card-header">
      <strong><%=post.author.username%></strong> - <%= post.elapsedTime()%>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <form
          action="/posts/<%=post._id%>?_method=PATCH"
          method="POST"
          class="needs-validation"
          novalidate>
          <div class="form-floating">
            <textarea
              name="post[body]"
              class="form-control"
              id="textarea"
              style="height: 100px"
              required>
<%=post.body%></textarea
            >
          </div>
          <div class="mt-3">
            <a
              class="btn btn-outline-secondary"
              href="/posts/<%=post._id%>"
              type="button"
              id="button-back"
              >Go back</a
            >
            <button
              class="btn btn-secondary ml-auto"
              type="button submit"
              id="button-update">
              Update
            </button>
          </div>
        </form>
      </blockquote>
    </div>
  </div>
</body>
